<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>

		<!-- Connection Section -->
		<add key="connectionString" value="CONNECTION_STRING_HERE" />
		<add key="ip" value="IP_HERE" />
		<add key="port" value="6099" />
		<add key="minReconnectSeconds" value="5" />
		<add key="isBigEndian" value="true" />
		<add key="isTest" value="false" />
		<add key="testMessageFileName" value="testmessage.txt" />

		<!--Log Section -->
		<!-- (Info, Message, Connection, Error) -->
		<add key="minLogLevel" value="Info" />

	</appSettings>
</configuration>